<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="css/main.css">

    <title><%= title %></title>
</head>
<body>
<div class="body_wrap">
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img class="rounded logo" src="img/fruits.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRecipes" aria-controls="navbarRecipes" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarRecipes">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/random">Random recipe</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- /.header -->
<main class="main container">
